{% extends 'filmy/glowny.html' %}

{% block tytul %} Szczegółowy widok wskazanego filmu w bazie {% endblock %}

{% block strona %}

<h1>{{ film.tytul }}</h1>
<ul>
    <li>ID filmu: {{ film.id }}</li>
    <li>Rok produkcji: {{ film.rok }}</li>
    <li>Data premiery: {{ film.premiera }}</li>
    <li>Punkty imdb: {{ film.imdb_pkts }}</li>
    <li>Opis filmu: {{ film.opis }}</li>
    {% if film.extrainfo %}
    <li>Dodatkowe informacje: {{ film.extrainfo }} </li>
    {% endif %}
    {% for ocena in film.ocena_set.all %}
    <li>Recenzja: {{ ocena.recenzja }}, gwiazdki: {{ ocena.gwiazdki }}</li>
    {% endfor %}
    {% for aktor in film.aktor_set.all %}
    <li>Aktor: {{ aktor.imie }} {{ aktor.nazwisko }}</li>
    {% endfor %}

</ul>

<a href="{% url 'wszystkie' %}">Cofnij</a>

{% endblock %}