{% extends 'filmy/glowny.html' %}
{% block tytul %} Lista wszystkich filmów w bazie {% endblock %}

{% block strona %}

{% if user.is_authenticated %}
     Witaj {{ user.username }}<br>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
<hr>

<a href="{% url 'nowy' %}">Nowy film</a>

{% if filmy %}
    <ul>
    {% for film in filmy %}
        <li><a href="{% url 'szczegoly' film.id %}">{{ film.tytul }}</a></li>
        <a href="{% url 'edytuj' film.id %}">Edytuj film</a>
        <a href="{% url 'usun' film.id %}">Usuń film</a>
    {% endfor %}
    </ul>
{% else %}
    <p>Brak filmów w bazie danych.</p>
{% endif %}

{% endblock %}